.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: transparent;
}

.logo {
    margin-bottom: 40px;
    width: 140px;
}